<form [formGroup]="formGroup">
    <p>
        <mat-label for="updateIntervalMs">Интервал таймера (мс):</mat-label>
        <mat-form-field appearance="fill">
            <input id="intervalMs" formControlName="updateIntervalMs" matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-label for="recordsLimit">Кол-во строк в таблице:</mat-label>
        <mat-form-field appearance="fill">
            <input id="recordsLimit" formControlName="recordsLimit" matInput>
        </mat-form-field>
    </p>
    <p>
        <mat-label for="idFilter">Фильтр по полю id (список id через запятую):</mat-label>
        <mat-form-field appearance="fill">
            <input id="idFilter" formControlName="idFilter" matInput>
        </mat-form-field>
    </p>
</form>