<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container *ngFor="let header of gridHeader">
        <ng-container matColumnDef="{{header}}">
            <th mat-header-cell *matHeaderCellDef>{{header}}</th>
            <ng-container *matCellDef="let row">
                <td mat-cell *ngIf="header === 'color'; else notColorCell" [style.background-color]="row[header]">
                    {{row[header]}}</td>
                <ng-template #notColorCell>
                    <td mat-cell>
                        <ng-container *ngIf="!isChildColumn(row[header]); else childColumn">
                            {{ row[header] }}
                        </ng-container>
                        <ng-template #childColumn>
                            <app-table-with-web-worker [dataSource]="[row[header]]" [gridHeader]="childGridHeader"></app-table-with-web-worker>
                        </ng-template>
                    </td>
                </ng-template>
            </ng-container>
        </ng-container>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="gridHeader; sticky: true;"></tr>
    <tr mat-row *matRowDef="let row; columns: gridHeader"></tr>
</table>